.board {
  text-align: center;
  padding-top: 3em;
}

.row {
  width: 302px;
  margin: auto;
  clear: both;  
}

.row > div {
  height: 100px;
  width: 100px;
  float: left;

}
.top {
  border-bottom: 1px black solid;
}

.bottom {
  border-top: 1px black solid;
}

.left {
  border-right: 1px black solid;
}

.right{
    border-left: 1px black solid;
}

div:hover {

    cursor: pointer;
}